* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #ffeb3b;
}

::-moz-selection {
  background-color: #ffeb3b;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f4f4f4;
}

@media only screen and (min-device-width: 600px) {
  body {
    zoom: 1.2;
  }
}

.body-container {
  width: 100%;
  max-width: 560px;
  margin: 60px auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  background-color: white;
}

@media only screen and (max-device-width: 320px) {
  .body-container {
    padding: 20px;
  }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 425px) {
  .body-container {
    padding: 35px;
  }
}

@media only screen and (min-device-width: 426px) {
  .body-container {
    padding: 50px;
  }
}

@media only screen and (max-device-width: 425px) {
  br[lg-screen-only] {
    display: none;
  }
}

@media only screen and (max-device-width: 560px) {
  .body-container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.links-container > a {
  margin: 0px 3px;
}

.links-container > a:last-child {
  margin-right: 0;
}

.links-container > a:first-child {
  margin-left: 0;
}

.muted-link {
  font-size: 0.75em;
  color: inherit;
  text-decoration: none;
}

.muted-link:hover {
  text-decoration: underline;
}

.intro {
  font-family: "Lustria", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  margin-top: 8px;
  margin-bottom: 20px;
}

.description {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.5;
}

.hand-wave-container {
  font-size: 1.2em;
  margin-bottom: 16px;
  display: flex;
}

.hand-wave {
  transform-origin: right bottom;
  animation: hand-wave-animation 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s
    forwards;
}

@keyframes hand-wave-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(+15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.highlight {
  font-weight: 700;
}

.highlight-yellow {
  padding: 0px 2px;
  background-color: #ffeb3b;
}

a.highlight-yellow {
  background-color: rgba(255, 235, 59, 0.8);
}
