article section {
  margin: 2em 0;
}

*
{
    font-family: sans-serif;
}

article section em 
{
    /*background-color: rgb(220,220,220);*/
    background-color: azure;
    color: rgb(60,60,60) !important;
    padding: 0em 0.25em;
    font-style: normal !important;
}

article section strong, article section a
{
    color: rgb(60,60,60) !important;
    letter-spacing: 0.01em;
}

article section a
{
    border: 0 solid rgb(100,100,100);
    border-width: 0em 0.0em 0.15em 0.0em;
    border-width: .1em;

    margin: 0 0.15em;
    padding: 0.1em 0.2em !important;
    text-decoration: none !important;

    -webkit-transition: color,background-color 0.5s;
    -o-transition: color,background-color 0.5s;
    transition: color,background-color 0.5s;
}

article section a:hover
{
    color: white !important;
    background-color: rgb(80,80,80); !important;
}

a:hover
{
    text-shadow: none !important;
}

article section code
{
    background-color: rgb(225,225,255);
    padding: 0.25em 0.35em;
}


.linenos
{
  width: 4em;
}

.linenodiv pre
{
    background-color: transparent;
}

/*
.highlight pre
{
    margin: 0 !important;
    padding: 0;
}*/


.highlighttable {
    font-size: 1em;
    overflow: auto;
    
    /*display: block;*/
    border: solid 1px #d9d9d9;
    border-radius: 3px;
    
    background-color: rgb(238, 238, 238);
}

.highlighttable *, article section code
{
    font-family: "Consolas", "INCONSOLATA", "DROID SANS MONO", "Monaco", "Source Code Pro",  monospace;
}

/*.linenos {
    border-right: 10px solid #d9d9d9;
    background: #eee;
    padding: 0.5em 0.8em;
}*/

.highlight pre 
{
    /*overflow: auto;*/
}


